<!DOCTYPE html>
<html lang="zh_TW">
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- icons -->
	<link rel="icon" href="{{ site.url }}/favicon.ico" sizes="any">
	<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
	<link rel="manifest" href="{{ site.url }}/manifest.webmanifest">
	<!-- for social media -->
	<meta property="og:url" content="{{ site.url }}{{ page.url | remove: '.html' }}">
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:image" content="{{ site.url }}/logo.png" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<link rel="canonical" href="{{ site.url }}{{ page.url | remove: '.html'}}">
	<!-- style sheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ site.url }}/css/main.css">
</head>
<body>
	<div id="md-all">
		<div id="md-menu">
			{% include navbar.html %}
		</div>
		<div class="container" id="md-body-container">
			<div class="row" id="md-body-row">
				<div id="md-body" style="margin-top: 60px;">
					<div class="container" id="md-content-container">
						<div class="row" id="md-content-row">
							<div id="md-content" class="col-md-12">
								{{ content }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr style="position: relative; margin-top: 1em;">
		<div class="scontainer" style="position: relative; margin-top: 1em;">
			<div class="pull-right md-copyright-footer">
				<span id="md-footer-additional">
				</span>
				本網站著作由資訊之芽團隊擁有，係採用 <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">創用 CC 姓名標示-非商業性-禁止改作 4.0 國際 授權條款</a> 授權公眾使用。
			</div>
		</div>
	</div>
	<!-- JavaScript frameworks -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
